<div class="container col-md-2 ">
    <div class="row">
        <div class="text-center">
        <h2 class="text-center">Reset Password?</h2>
        <form id="register-form " role="form" autocomplete="off" class="form" method="post" [formGroup]="resetForm" (submit)="reset()">

            <label>Current Password</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPwd" [ngClass]="{'is-valid': submitted && !resetForm.controls.currentPwd.errors ,'is-invalid': submitted && resetForm.controls.currentPwd.errors}">
                <div class="invalid-feedback d-block" *ngIf="submitted && resetForm.controls.currentPwd.hasError('required')">Veiller saisir votre mot de passe actuel!!! 
                                </div>
            </div>
            <label>New Password</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="New Password" formControlName="newPwd" [ngClass]="{'is-valid': submitted && !resetForm.controls.newPwd.errors ,'is-invalid': submitted && resetForm.controls.newPwd.errors}">
                <div class="invalid-feedback d-block" *ngIf="submitted && resetForm.controls.newPwd.hasError('required')">Veiller saisir votre nouveau mot de passe !!! 
                                </div>
            </div>
            <label>Confirm Password</label>
            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPwd" [ngClass]="{'is-valid': submitted && !resetForm.controls.confirmPwd.errors ,'is-invalid': submitted && resetForm.controls.confirmPwd.errors}">
                <div class="invalid-feedback d-block" *ngIf="submitted && resetForm.controls.confirmPwd.hasError('required')">Veiller confirmer votre  mot de passe !!! 
                                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-4">Change password</button>
        </form>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-2">

        <u><a routerLink="/login">Back to Log In</a></u>

        <u><a routerLink="/register">Register</a></u>

    </div>
</div>