<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (submit)="onSubmit()" class="needs-validation">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>

                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="FirstName" autocomplete="firstName"
                    formControlName="firstName" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.firstName.errors ,'is-invalid': submitted && registerForm.controls.firstName.errors}">
                  <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.firstName.hasError('required')">First Name Required!!!
                  </div>
                </div>

                <div class="form-group input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="LastName" autocomplete="lastName"
                    formControlName="lastName" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.lastName.errors ,'is-invalid': submitted && registerForm.controls.lastName.errors}">
                  <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.lastName.hasError('required')">Last Name Required!!!
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-plane"></i></span>
                  </div>
                  <select id="base" class="form-control" name="base" formControlName="base"
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.base.errors ,'is-invalid': submitted && registerForm.controls.base.errors}">
                    <div class="invalid-feedback d-block"
                      *ngIf="submitted && registerForm.controls.base.hasError('required')">Base Not Selected!!!
                    </div>>
                    <option value="">Sélectionner une base</option>
                    <option value="BAEA">BAEA</option>
                    <option value="BASA">BASA</option>
                    <option value="BAK">BAK</option>
                    <option value="BAJK">BAJK</option>
                    <option value="BAS">BAS</option>
                    <option value="BAGF">BAGF</option>
                    <option value="BAG">BAG</option>
                    <option value="BAR">BAR</option>
                    <option value="EABA">EABA</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-options"></i></span>
                  </div>
                  <select id="fonction" class="form-control" name="fonction" formControlName="fonction"
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.fonction.errors ,'is-invalid': submitted && registerForm.controls.fonction.errors}">
                    <div class="invalid-feedback d-block"
                      *ngIf="submitted && registerForm.controls.fonction.hasError('required')">Function Not Selected!!!
                    </div>
                    <option value="">Sélectionner une fonction</option>
                    <option value="BAEA">Chef STIB</option>
                    <option value="BAEA">Officier Informatique</option>
                    <option value="BASA">Officier Transmission</option>
                    <option value="BASA">Officier Securité Informatique</option>
                  </select>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" autocomplete="username"
                    formControlName="userName" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.userName.errors ,'is-invalid': submitted && registerForm.controls.userName.errors}">
                  <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.userName.hasError('required')">User Name Required!!!
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email"
                    formControlName="email" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.email.errors ,'is-invalid': submitted && registerForm.controls.email.errors}">

                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors.required">Email is required</div>
                    <div *ngIf="f['email'].errors.email">{{formErrors.email.email}}</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <select ng-model="selectedItem" class="form-control" placeholder="Role" autocomplete="role"
                      formControlName="role" required
                      [ngClass]="{ 'is-invalid': submitted && f.role.errors, 'is-valid': f.role.touched && !f.role.errors }">
                      <option value=""></option>
                      <option value="admin">admin</option>
                      <option value="user">user</option>
                    </select>
                    <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                      <div *ngIf="f['role'].errors.required">Role is required</div>
                    </div>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                    formControlName="password" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.password.errors ,'is-invalid': submitted && registerForm.controls.password.errors}">
                  <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.password.hasError('required')">Password Required!!!
                  </div>
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors.required">Password is required</div>
                    <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                    <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                  </div>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password"
                    formControlName="confirmPassword" required
                    [ngClass]="{'is-valid': submitted && !registerForm.controls.confirmPassword.errors ,'is-invalid': submitted && registerForm.controls.confirmPassword.errors}">
                  <div class="invalid-feedback d-block"
                    *ngIf="submitted && registerForm.controls.confirmPassword.hasError('required')">Pleas Confirm
                    Password!!!
                  </div>
                  <div *ngIf="submitted && registerForm.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.errors['passwordMismatch']">
                      {{formErrors.confirmPassword.passwordMismatch}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="accept" formControlName="accept" required
                      [ngClass]="{ 'is-invalid': submitted && f.accept.errors, 'is-valid': !f.accept.errors }" />
                    <label class="custom-control-label" for="accept">I accept the terms of use</label>
                    <div *ngIf="submitted && f['accept'].errors" class="invalid-feedback">
                      <div *ngIf="f['accept'].errors.required">You have to accept our Terms and Conditions</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary mr-1" (click)="register()"
                    [disabled]="registerForm.pristine || registerForm.invalid">Submit</button>
                  <button class="btn btn-success mr-1" type="submit" [disabled]="registerForm.valid">Validate</button>
                  <button class="btn btn-danger mr-1" type="reset" [disabled]="registerForm.pristine && !submitted"
                    (click)="onReset()">Reset</button>
                  <button type="button" class="btn btn-primary" routerLink="/login">Back to Login</button>

                </div>

              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>